# Decision Trees
Problem- **Titanic Survivor Prediction** kaggle challenge
## Learning Goals
- How to pre- process data?
i. Dropping not useful features.
ii. Filling the missing values(Data Imputation)

- Creating a binary decision tree from scratch

In [4]:
import numpy as np
import pandas as pd

In [5]:
data = pd.read_csv("titanic/train.csv")

In [6]:
data.head(n=10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [8]:
columns_to_drop = ["PassengerId","Name", "Ticket","Cabin","Embarked"]

data_clean = data.drop(columns_to_drop, axis=1)

In [9]:
data_clean.head(5)

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0         0       3    male  22.0      1      0   7.2500
1         1       1  female  38.0      1      0  71.2833
2         1       3  female  26.0      0      0   7.9250
3         1       1  female  35.0      1      0  53.1000
4         0       3    male  35.0      0      0   8.0500

In [10]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
data_clean["Sex"] = le.fit_transform(data_clean["Sex"])

In [11]:
data_clean.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0         0       3    1  22.0      1      0   7.2500
1         1       1    0  38.0      1      0  71.2833
2         1       3    0  26.0      0      0   7.9250
3         1       1    0  35.0      1      0  53.1000
4         0       3    1  35.0      0      0   8.0500

In [12]:
data_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int64
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
dtypes: float64(2), int64(5)
memory usage: 48.9 KB

In [13]:
data_clean = data_clean.fillna?

In [ ]:
data_clean = data_clean.fillna

In [14]:
# Use imputer method in pandas

In [15]:
data_clean = data_clean.fillna(data_clean["Age"].mean())

In [16]:
data_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int64
 3   Age       891 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
dtypes: float64(2), int64(5)
memory usage: 48.9 KB

In [17]:
input_cols=['Pclass',"Sex","Age","SibSp","Parch","Fare"]

In [18]:
output_cols = ["Survived"]

In [19]:
X = data_clean[input_cols]
y=data_clean[output_cols]

# Implementing decision tree

In [20]:
def entropy(col):
    counts = np.unique(col,return_counts=True)
    N=float(col.shape[0])
    
    ent=0.0
    
    for ix in counts[1]:
        p=ix/N
        ent+=(-1.0*p*np.log2(p))
    return ent

In [22]:
def information_gain(x_data, fekey,fval):
    pass

# using sklearn implementing decision tree

In [52]:
from sklearn.tree import DecisionTreeClassifier

In [53]:
sk_tree  = DecisionTreeClassifier(criterion="gini")

In [54]:
sk_tree.fit(X,y)

DecisionTreeClassifier()

In [55]:
# bringing the test data
test_data = pd.read_csv("titanic/test.csv")

In [56]:
clean_test_data = test_data.drop(columns_to_drop, axis=1)

In [57]:
clean_test_data.head()

   Pclass     Sex   Age  SibSp  Parch     Fare
0       3    male  34.5      0      0   7.8292
1       3  female  47.0      1      0   7.0000
2       2    male  62.0      0      0   9.6875
3       3    male  27.0      0      0   8.6625
4       3  female  22.0      1      1  12.2875

In [58]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
clean_test_data["Sex"] = le.fit_transform(clean_test_data["Sex"])

In [59]:
clean_test_data = clean_test_data.fillna(clean_test_data["Age"].mean())

In [60]:
clean_test_data.head()

   Pclass  Sex   Age  SibSp  Parch     Fare
0       3    1  34.5      0      0   7.8292
1       3    0  47.0      1      0   7.0000
2       2    1  62.0      0      0   9.6875
3       3    1  27.0      0      0   8.6625
4       3    0  22.0      1      1  12.2875

In [61]:
X_test = clean_test_data[input_cols]
y_test = pd.read_csv("titanic/gender_submission.csv")["Survived"]

In [65]:
sk_tree.score(X_test, y_test)

0.7870813397129187

# Random Forest